header{
	background-color: skyblue;
}

header h1 {
	text-align: center;
	color: #2b180c;
}

main {
	display: flex;
}

nav {
	text-align: center;
	font-family: serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

footer {
	margin-top: auto;
	background-color: #2b180c;
}