body {
	background-color: #115002;
}

h1 {
}

form {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.login-controls {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: min(100%, 10rem);
	margin-inline: auto;
}

.login-controls input,
.login-controls button {
	width: 100%;
}

p {
	color: white;
	text-align: center;
}
