body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

head {
    display: flex;
    flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

.headFoot{
    color: rgb(99, 17, 17)
    background-color: rgb(1, 95, 37);
}