body {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

header {
  flex: 0 80px;
}

head {
    display: flex;
    flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

footer {
  flex: 0 30px;
}

.headFoot{
    color: rgb(121, 55, 1);
    background-color: rgb(1, 95, 37);
    text-align: center;

}

menu .nav-item{
  padding: 0 0.3em;
}

.navbar-brand{
    font-size: 10em;
}

.navbar-nav{
    font-size: 1.5em;
}