body {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

header {
  flex: 0 80px;
}

head {
    display: flex;
    flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('forestPlaceholder.png');
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

footer {
  flex: 0 30px;
  text-align: left;
}

footer a {
  float: right;
}

.headFoot{
    color: rgb(247, 245, 244);
    background-color: rgb(0, 70, 27);
    text-align: left;

}

menu .nav-item{
  padding: 0 0.4em;
}

.navbar-nav{
    font-size: 1.5em;
}

.nav-link{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn{
    display:flex;
    justify-content: center;
    align-items:center;
}